{% extends "base.html" %}

{% load static %}

{% block subtitolo %}Krei novan proponon{% endblock subtitolo %}

{% block enhavo %}
<h1>Krei novan proponon</h1>

<script>
	function genInputFields() {
		var quantity =
			document.getElementById("id_nombro_eblaj_elektoj").value;
		var forms = document.getElementById("forms");
		var children = forms.getElementsByTagName("input");
		var currentValues = [];
		for (i = 0; i < children.length; i++) {
			currentValues.push(children[i].value);
			console.log(children[i].value);
		}
		console.log("\n");
		while (forms.firstChild) {
		    forms.removeChild(forms.firstChild);
		}

		for (i = 0; i < quantity; i++) {
			var input = document.createElement("input");
			input.type = "text";
			input.maxlength = 128;
			input.name = "elekto".i;
			input.id = "id_elekto".i;
			if (currentValues[i] != undefined) {
				input.value = currentValues[i];
			}
			forms.appendChild(input);
			forms.appendChild(document.createElement("br"));
		};
	}
</script>
<form method="post" id="total_form" action="">{% csrf_token %}
	{{ propono_form.as_p }}
	{{ elektoj_formset.management_form }}
	{{ elektoj_formset.id }}
	<div id="forms">
	<input type="text" name="elekto0" maxlength="128"
	required id="id_elekto0"/>
	</div><!-- where the generated forms go -->
	<button type="submit" class="save btn btn-default">Enregistrigi</button>
</form>

{% endblock enhavo %}
