{% extends "base.html" %}

{% load static %}

{% block subtitolo %}Krei novan proponon{% endblock subtitolo %}

{% block enhavo %}
<h1>Krei novan proponon</h1>

{% if not elektoj_formset %}
<form method="post" id="total_form" action="">{% csrf_token %}
	{{ propono_form.as_p }}
	<button type="submit" class="save btn btn-default">Redakti la elektojn</button>
</form>

{% else %}
<form method="post" id="total_form" action="">{% csrf_token %}
    {{ propono_form.as_p }}
    {{ elektoj_formset }}
	<button type="submit" class="save btn btn-default">Enregistrigi</button>
</form>
{% endif %}

{% endblock enhavo %}
